<% if @products and @products.size > 0 %>
  <%= form_tag say_your_price_path(@type), :id => "page_form", :style => "display:none;" do %>
    <%= hidden_field_tag(:page, @page) %>
  <% end %>

  <%= form_tag ticket_book_path, :id => "submit_search_form", :style => "display:none;" do %>
    <%= hidden_field_tag(:name, @products.first.name) %>
  <% end %>

  <div class="columns">
    <div class="column widest">
        <p class="paging">
          <% if @page.to_i != @post_pages %>
              <% if(@page.to_i <= 1)%>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(2);f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{page.to_i});f.submit();return false;") %>
                  <% end %>
              <% else %>
                  <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{@page.to_i-1});f.submit();return false;") %>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{@page.to_i+1});f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{page.to_i});f.submit();return false;") %>
                  <% end %>
              <% end %>
          <% elsif @page.to_i > 1 %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{@page.to_i-1});f.submit();return false;") %>
              <% @page_start_num.upto(@page_end_num).each do |page| %>
                <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{page.to_i});f.submit();return false;") %>
              <% end %>
          <% end -%>
        </p>

        <% for product in @products %>
            <% session[product.id.to_s] = nil %>
            <% if product.is_ticket? %>
              <%= render :partial => "partials/capsule_view", :locals => {:product => product} %>
            <%else%>  
              <%= render :partial => "partials/capsule", :locals => {:product => product} %>
             <%end%>
        <% end %>

        <p class="paging">
          <% if @page.to_i != @post_pages %>
              <% if(@page.to_i <= 1)%>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(2);f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{page.to_i});f.submit();return false;") %>
                  <% end %>
              <% else %>
                  <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{@page.to_i-1});f.submit();return false;") %>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{@page.to_i+1});f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{page.to_i});f.submit();return false;") %>
                  <% end %>
              <% end %>
          <% elsif @page.to_i > 1 %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{@page.to_i-1});f.submit();return false;") %>
              <% @page_start_num.upto(@page_end_num).each do |page| %>
                <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];jQuery('#page').val(#{page.to_i});f.submit();return false;") %>
              <% end %>
          <% end -%>
        </p>
    </div><!-- .column.wide -->
  </div><!-- .columns -->
<% else %>
  <div style="height: 200px;"></div>
<% end %>
